@import './scss/global/normalize';
@import './scss/global/fonts';
@import './scss/variables/colors.scss';
@import './scss/variables/media-queries.scss';

h1 {
  font-weight: bold;
  @include mq-max($hands-max) {
    font-size: 1.5rem;
  }
  @include mq-minmax($hands-min, $lap-max) {
    font-size: 2rem;
  }
  @include mq-min($lap-min) {
    font-size: 2.5rem;
  }
}

h2 {
  @include mq-max($hands-max) {
    font-size: 1.5rem;
  }
  @include mq-min($hands-min) {
    font-size: 2rem;
  }
}

p {
  @include mq-max($hands-max) {
    font-size: 1rem;
  }
  @include mq-min($hands-min) {
    font-size: 1.5rem;
  }
}

span {
  font-size: 1rem;
}